
.index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.index-content {
  width: 60%;
}

.first-image {
  position: absolute;
  right: 20px;
  margin-left: 20px;
}

.second-image {
  margin-left: 20px;
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .index-container {
    display: block;
    margin: 0;
  }

  .index-content{
    width: 100%;
  }

  .first-image {
    display: block;
    position: relative;
    margin: 0 auto;
  }

  .second-image {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .index-container {
    display: block;
    margin: 0;
  }

  .index-content{
    width: 100%;
  }

  .first-image {
    display: block;
    position: relative;
    right: 0;
    margin-left: 0;
  }

  .second-image {
    margin-top: 20px;
    margin-left: 0;
  }
}

