
.footer-container {
  width: 100vw;
  height: 5vh;
  background: grey;
  bottom: 0px;
  z-index: 5;
  position: fixed;
  bottom: 0px;
  margin-bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
}

.contact-me {
  display: inline;
  margin: 5px;
}

.email-tag {
  color: white;
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .footer-container {
    height: 10vh;
  }
}
