
.nav-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -10px;
}

.nav-btn {
  border: none;
  background: none;
  outline: none;
  width: max-content;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .nav-btn-container {
    margin-top: -15px;
  }
}

@media screen and (max-width: 450px) {
  .nav-btn {
    margin-left: 5px;
    margin-right: 5px;    
  }
}

@media screen and (max-width: 350px) {
  .nav-btn {
    margin-left: 0;
    margin-right: 0;    
  }
}
