
.child-container {
  position: absolute;
  z-index: 0;
  width: 100vw;
  padding: 15vh 1.0875rem 1.45rem;
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .child-container {
    margin-top: 30px;
  }
}

@media screen and (max-width: 450px) {
  .child-container {
    margin-top: 0;
  }
}